<div class="modal fade" id="modalAdicionar" tabindex="-1" aria-labelledby="modalAdicionarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAdicionarLabel">Matéria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span class="select-titulo">Para:</span>
                        <select class="select-turma">
                            <option selected>1° ano - Geografia</option>
                            <option value="1">2° ano - Geografia</option>
                            <option value="2">3° ano - Geografia</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="select-titulo">Prazo:</span>
                        <input class="input-prazo" type="date">
                    </div>
                    <div class="form-group shadow-textarea">
                        <label for="titulo" class="textarea-titulo">Título</label>
                        <textarea class="form-control" id="titulo" rows="1"></textarea>
                    </div>
                    <div class="form-group shadow-textarea">
                        <label for="descricao" class="textarea-titulo">Descrição(opcional)</label>
                        <textarea class="form-control" id="descricao" rows="3"></textarea>
                    </div>

                    <div class="form-group adicionar-arquivo">
                        <label for="anexarArquivoAtividade">Adicionar arquivo</label>
                        <input type="file" class="form-control-file" id="anexarArquivoAtividade">
                    </div>
                </form>
                <button class="btn btn-primary botao-enviar-atividade-professor">Enviar atividade</button>

            </div>
        </div>
    </div>
</div>
<div class="container mb-3" *ngIf="usuarioProfessor" >
    <button class="btn-adicionar-atividade btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modalAdicionar">Adicionar
        atividade</button>
</div>

<div class="container">
    <div class="accordion" id="accordionAtividade">

        <div class="accordion-item accordion-item-border">
            <p class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Semana Anterior
                </button>
            </p>

            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionAtividade">
                <div class="accordion-body">

                    <div class="box-calendario-semanal">
                        <div *ngFor="let atividade of atividadesProximaSemana">
                            <p class="box-calendario-semanal-titulo">{{atividade.diaSemana}}: <span
                                    class="box-calendario-semanal-disciplinas-texto">{{atividade.data}}</span></p>
                            <div class="box-calendario-semanal-disciplinas">
                                <span class="box-calendario-semanal-disciplinas-texto" [routerLink]="['atividade', atividade.id]">{{atividade.disciplina}}</span> -
                                <span class="box-calendario-semanal-disciplinas-texto">{{atividade.aula}}</span>
                                <ul class="status-atividades">
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faClipboardCheck class="atividade-feito"></fa-icon>
                                    </li>
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faClipboard class="atividade-padrao"></fa-icon>
                                    </li>
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faExclamationTriangle class="atividade-padrao"></fa-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="accordion-item accordion-item-border">
            <p class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">Esta Semana</button>
            </p>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionAtividade">
                <div class="accordion-body">
                    <div class="box-calendario-semanal">
                        <div *ngFor="let atividade of atividadesSemana">
                            <p class="box-calendario-semanal-titulo">{{atividade.diaSemana}}: <span
                                    class="box-calendario-semanal-disciplinas-texto">{{atividade.data}}</span></p>
                            <div class="box-calendario-semanal-disciplinas">
                                <span class="box-calendario-semanal-disciplinas-texto" [routerLink]="['atividade', atividade.id]">{{atividade.disciplina}}</span> -
                                <span class="box-calendario-semanal-disciplinas-texto">{{atividade.aula}}</span>
                                <ul class="status-atividades">
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faClipboardCheck class="atividade-padrao"></fa-icon>
                                    </li>
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faClipboard class="atividade-andamento "></fa-icon>
                                    </li>
                                    <li class="status-atividades-item">
                                        <fa-icon [icon]=faExclamationTriangle class="atividade-padrao"></fa-icon>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item accordion-item-border">
            <div>

            </div>
            <p class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Proxima semana
                </button>
            </p>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionAtividade">
                <div class="accordion-body">

                    <div class="box-calendario-semanal" *ngFor="let atividade of atividadesProximaSemana">
                        <p class="box-calendario-semanal-titulo">{{atividade.diaSemana}}: <span
                                class="box-calendario-semanal-disciplinas-texto">{{atividade.data}}</span></p>
                        <div class="box-calendario-semanal-disciplinas">
                            <span class="box-calendario-semanal-disciplinas-texto">{{atividade.disciplina}}</span> - <span
                                class="box-calendario-semanal-disciplinas-texto">{{atividade.aula}}</span>
                            <ul class="status-atividades">
                                <li class="status-atividades-item">
                                    <fa-icon [icon]=faClipboardCheck class="atividade-padrao"></fa-icon>
                                </li>
                                <li class="status-atividades-item">
                                    <fa-icon [icon]=faClipboard class="atividade-padrao"></fa-icon>
                                </li>
                                <li class="status-atividades-item">
                                    <fa-icon [icon]=faExclamationTriangle class="atividade-pendente"></fa-icon>
                                </li>
                            </ul>
                        </div>                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>