.accordion-item-border{
    border: none;
}

.accordion-button{
    font-weight: 550;
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: #fff;
    border-color: #fff;
  
}

.box-calendario-semanal-disciplinas{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: .50rem;
}

.box-calendario-semanal-titulo {
    font-weight: 600;
    /* background-color: rgba(0, 0, 0, 0.125); */
    background-color:#96d22b;
    color: white;
    padding: 0.50rem;
    border-radius: .25rem;
}

.box-calendario-semanal-disciplinas-texto{
    font-size: 0.78rem;
    font-weight: 700;   
}

.status-atividades{
    list-style: none;
    /* display: inline; */
    padding-left: 0.30rem;
    
}

.status-atividades-item{
    display: inline;
    padding: 0.30rem;
}

.atividade-feito{
    color: darkgreen;
}

.atividade-andamento {
    color: yellow;
}

.atividade-pendente{
    color: red;
}

.atividade-padrao{
    color: rgba(165, 49, 49, 0.125)
}

.botao-adicionar-atividade{
    margin: 1rem;
}

.btn-adicionar-atividade{
    padding: .7rem;
    border: none;
    /* border-radius: 1.5rem; */
    font-size: .8rem;
    background-color: #096043;
    color: white;
    font-weight: 700;
}

.textarea-titulo, .select-titulo, .adicionar-arquivo{
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.55);
}

.select-turma, .input-prazo{
    border: none;
    background-color: transparent;
    margin-left: .4rem;
    font-size: .8rem;
    font-weight: 500;
}

.botao-enviar-atividade-professor{
    border: none;
    background-color: #096043;
    color: white;
    margin-top: 1rem;
    width: 100%;
}

