.titulo-principal{
    font-size: 1rem;
    font-weight: 400;
    color: #5f6368;
}
.container-principal{
    margin-top: 20px;
}
.campo-informacoes{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 16px;
    border-top: 1px solid #dadce0;
}
.titulo-box{
    font-weight: 500;
    letter-spacing: .07272727em;
    font-size: .6875rem;
    color: #6d7074;
    text-transform: uppercase;
    padding: 0;
}

.texto-box{
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #202124;
 
}

.btn-enviar-modal{
    background-color: #096043;
    color: white;
    border-radius: 1rem;
    /* width: 80%; */
}

.div-btn-enviar-modal{
    width: 90%;
}

.input-estilo-padrao{
    border-radius: 1rem;
    border: .10rem solid #949494;
    width: 100%;
    padding-left: .70rem 
}

@media screen and (min-width: 1024px) {
    .input-estilo-padrao{
        width: 70%;
    }

    .div-btn-enviar-modal{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}