<div class="container mt-4">
    <div class="row">
      <div class="col-4 performance">
        <p class="circulo-notas-titulo">Performance</p>
        <div class="circulo-notas">
          <p class="text-center circulo-notas-porcentagem">50%</p>
        </div>
      </div>
      <div class="col-4 participacao">
        <p class="circulo-notas-titulo">Participação</p>
        <div class="circulo-notas">
          <p class="text-center circulo-notas-porcentagem">30%</p>
        </div>
      </div>
      <div class="col-4 proficiencia">
        <p class="circulo-notas-titulo">Proficiência</p>
        <div class="circulo-notas">
          <p class="text-center circulo-notas-porcentagem">70%</p>
        </div>
      </div>
    </div>
  </div>
  
