.circulo-notas-titulo {
    font-weight: 600;
}

.circulo-notas{
    border: 4px solid rgba(0, 0, 0, 0.125);;
    border-radius: 50%;
    width: 80px;
    height: 80px;

}

.circulo-notas-porcentagem {
    line-height: 70px;
    color: #6c757d;
    font-size: 1.2rem;
    font-weight: 800;
}

@media screen and (min-width: 1024px) {
    .circulo-notas-titulo{
        text-align: center;
    }

    .circulo-notas{
        margin-left: auto;
        margin-right: auto;
    }
}