<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">

                    </h6>
                    <div class="content">
                        <ul class="timeline">
                            <li class="event" data-date="Pré-aula">
                                <div class="card card-timeline mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4 card-timeline--imagem">
                                            <img src="../../../assets/images/12.libro.jpg"
                                                class="img-fluid rounded-start card-timeline--imagem--estilo" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title card-timeline--title">{{atividade?.aula}} (Aquecimento)</h5>
                                                <p class="card-text">This is a wider card with supporting text below as
                                                    a natural lead-in to additional content. This content is a little
                                                    bit longer.</p>
                                                <p class="card-text"><small
                                                        class="text-muted card-timeline--small">Postado em
                                                        {{atividade?.data}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-timeline mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="../../../assets/images/12.libro.jpg"
                                                class="img-fluid rounded-start card-timeline--imagem--estilo" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title card-timeline--title">{{atividade?.aula}} (Estudo)</h5>
                                                <p class="card-text">This is a wider card with supporting text below as
                                                    a natural lead-in to additional content. This content is a little
                                                    bit longer.</p>
                                                <p class="card-text"><small
                                                        class="text-muted card-timeline--small">Postado em
                                                        {{atividade?.data}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-timeline">
                                    <div class="card-body">
                                        <h5 class="card-title card-timeline--title">{{atividade?.aula}} (Aula)</h5>
                                        <p class="card-text"><small class="text-muted card-timeline--small">Postado em
                                            {{atividade?.data}}</small></p>
                                    </div>
                                    <img src="../../../assets/images/12.libro.jpg"
                                        class="card-img-bottom card-timeline--imagem" alt="...">
                                </div>
                            </li>

                            <li class="event" data-date="Pós-aula">
                                <div class="card card-timeline mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <img src="../../../assets/images/12.libro.jpg"
                                                class="img-fluid rounded-start card-timeline--imagem--estilo" alt="...">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title card-timeline--title">{{atividade?.aula}} (Consolidação)</h5>
                                                <p class="card-text">This is a wider card with supporting text below as
                                                    a natural lead-in to additional content. This content is a little
                                                    bit longer.</p>
                                                <p class="card-text"><small
                                                        class="text-muted card-timeline--small">Postado em
                                                        {{atividade?.data}}</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>