

.box-login{
    box-shadow: 0 2px 4px #00000033;
    height: 20rem;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    
}

.titulo-login{
    font-size: 1.2rem;
    color: #096043;
    font-weight: 700;
}   

.input{
    height: 1.5rem;
    border-radius: 1rem;
    width: 70%;
    padding-left: .70rem !important;
    padding: .20rem;
    border: .10rem solid #949494 ;
    font-size: .80rem;
    
}

.btn-logar{
    background-color: #096043;
    color: white;
    border-radius: 1rem;
    height: 2.5rem;
    /* width: 80%; */
}

.div-btn-logar{
    width: 100%;
}
.texto-recupera-senha{
    font-size: .70rem;
    color: black;
    
 
}
.box-esqueci-senha{
    justify-content:flex-end;
}

.link-texto-recupera-senha{
    text-decoration: none;
    width: fit-content;

}

.ng-invalid.ng-touched:not(form){
    border: 1px solid #842029;
}

.alert{
    padding: .20rem .20rem;
    border-radius: 1rem;
    padding-left: .70rem;
    font-size: .80rem;
}

.olho-senha{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 145px;
    right:50px;
    cursor: pointer;
}

 @media screen and (min-width: 1024px) {
    .box-login{
        padding: 20px;
    }

    .box-principal{
        height: 100vh;
        display: flex;
        align-items: center;
        
    }

    .olho-senha{
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 280px;
        right:560px;
        cursor: pointer;
    }
} 

