<div class="container box-principal">
    <div class="row box-login col-md-4 mx-auto">
        
            <p class="titulo-login">Acesse sua conta</p>

            <input class="input mb-2" type="email" placeholder="Informe seu e-mail" [(ngModel)]="usuario.email">
            <input class="input mb-2" id="password" type="password" placeholder="Informe sua senha" [(ngModel)]="
                    usuario.senha">
            <i class="bi bi-eye olho-senha" (click)="revelarsenha()"></i>

            <div class="container mb-3">
                <div class="row box-esqueci-senha">
                    <a [routerLink]="['/esquecisenha']" class="link-texto-recupera-senha">
                        <p class="texto-recupera-senha">Esqueceu a senha?</p>
                    </a>
                </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto div-btn-logar">
                <button class="btn btn-logar" type="submit" (click)="fazerLogin()">Entrar</button>
            </div>
       

    </div>

</div>