.porcentagem{
    font-size: .70rem;
    padding: .20rem;
    margin: 0 .10rem;
    border: 1px solid ;
    border-radius: .30rem;
}

.card-header{
    font-weight: 550;
}

.accordion-item-border{
    border: none;
}

.capitulo-item-titulo{
    font-size: .90rem;
}


.list-group-item{
    font-size: .90rem;
    font-weight: 550;
    border: none;
}

.container-porcentagem{
    display: inline;
    margin-left: 4rem;
}

.container-porcentagem-extra{
    display: inline;
    margin-left: 1rem;
}

@media screen and (min-width:1024px) {
    .container-principal{
        display: flex;
        justify-content: space-around;
    }

    .card-conteudo-extra{
        margin-top: 0 !important;
        width: 45% !important;
    }

    .card-conteudo-principal{
        width: 45% !important;
    }
}