<app-proficiencia></app-proficiencia>
<div class="container container-principal mt-4">
    <div class="card card-conteudo-principal" style="width: 18rem;">
        <div class="card-header">
            Notas - Conteúdos Principais
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Capítulo 1
                <div class="container-porcentagem">
                    <span class="porcentagem">50%</span>
                    <span class="porcentagem">70%</span>
                    <span class="porcentagem">30%</span>
                </div>
            </li>
            <li class="list-group-item">
                Capítulo 2
                <div class="container-porcentagem">
                    <span class="porcentagem">20%</span>
                    <span class="porcentagem">30%</span>
                    <span class="porcentagem">10%</span>
                </div>
            </li>
            <li class="list-group-item">
                Capítulo 3
                <div class="container-porcentagem">
                    <span class="porcentagem">15%</span>
                    <span class="porcentagem">30%</span>
                    <span class="porcentagem">10%</span>
                </div>
            </li>
        </ul>
    </div>


    <div class="card card-conteudo-extra mt-4" style="width: 18rem;">
        <div class="card-header">
            Notas - Conteúdos Extras
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Conteúdo Extras 1
                <div class="container-porcentagem-extra">
                    <span class="porcentagem">20%</span>
                    <span class="porcentagem">30%</span>
                    <span class="porcentagem">10%</span>
                </div>
            </li>
            <li class="list-group-item">
                Conteúdo Extras 2
                <div class="container-porcentagem-extra">
                    <span class="porcentagem">20%</span>
                    <span class="porcentagem">30%</span>
                    <span class="porcentagem">10%</span>
                </div>
            </li>
            <li class="list-group-item">
                Conteúdo Extra 3
                <div class="container-porcentagem-extra">
                    <span class="porcentagem">20%</span>
                </div>
            </li>
        </ul>
    </div>


</div>