.container-titulo{
    text-align: center;
    font-weight: 600;
}

.proficiencia{
    text-align: center;
    /* border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .30rem; */
    padding: 1rem;
    margin-top: 1rem;

    
}

.circle-desempenho{
    border: 4px solid #c0e2a6;
    /* border: 4px solid rgba(0, 0, 0, 0.125); */
    /* border: 4px solid #96d22b; */
    background-color:#096043;
    border-radius: 50%;
    margin-bottom: 1rem;
    height: 80px;
    line-height: 60px;
}

.circle-texto{
    font-size: 1.2rem;
    font-weight: 800;
    /* color:  #6c757d; */
    color: white;
    margin-bottom: 0px;
}

.circle-porcentagem{
    font-size: .72rem;
}

.circle-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.circle-saibaMais{
    font-size: .75rem;
}

.icone-seta{
    padding-left: 2px;
}

.links{
    text-decoration: none;
    color: black;
}

@media screen and (min-width:1024px) {
    .circle-desempenho{
        width: 5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .container-titulo{
        margin-left: auto;
        margin-right: auto;
    }
}