.box-atividades-contagem{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.atividades-atribuidas{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    margin-bottom: .50rem;
}

.atividades-contagem-numero {

    font-weight: 600;
    font-size: 1.3rem;
    padding: .30rem;
}

.text-select {
    font-weight: 600;
    font-size: 0.80rem;
}

.atividades-contagem-filtro{   
    border-radius: 0.25rem;
    margin-top: .50rem;
    margin-bottom: .50rem;

}

.atividades-contagem-descricao{
    font-size: 0.72rem;
    font-weight: 500;

    
}

.card-mural{
    width: 100%;
}

.card-image-resolucao{
    width: 100%;
    height: 96px;
    object-fit: cover;
    /* object-position: bottom; */
}
.card-imge{
    
    /* background-image: url("../../assets/images/12.libro.jpg");
    background-size: cover;
    background-position: center; */
    border-top-left-radius: 0.25rem ;
    border-top-right-radius: 0.25rem ;
    height: 6em;
 
}

.card-text-title{
    font-size: .90rem;
    font-weight: 500;
}

.card-text{
    font-size: .90rem;
}

.card-body{
    padding: 0.50rem;
}


@media screen and (min-width: 1024px) {
        .card-mural{
            height: auto;
        }
}