<section class="container">
    <div class="box-atividades-contagem">
        <div class="container">
            <select class="atividades-contagem-filtro text-select">
                <option [value]="itemSelect" *ngFor="let itemSelect of itemsSelect" class="text-select">
                    {{itemSelect}}
                </option>
            </select>
        </div>

        <div class="container contagem-atividades">
            <div class="row">
                <div class=" col atividades-atribuidas">
                    <span class="atividades-contagem-numero">6</span>
                    <span class="atividades-contagem-descricao">atividades atribuídas</span>
                </div>
                <div class=" col atividades-pendentes">
                    <span class="atividades-contagem-numero">1</span>
                    <span class="atividades-contagem-descricao">atividades pendente</span>
                </div>
            </div>
        </div>
    </div>

    <div class= "box-mural">
        <div class="card mb-3 mt-3 card-mural" *ngFor="let atividade of atividadesMural" >
            <div class="card-imge"><img [src]="atividade.imagem" class="card-image-resolucao"></div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"><span class="card-text-title">{{atividade.disciplina}} </span>{{atividade.descricao}}</p>
               
              </div>
              <div class="card-footer">
                <p class="card-text"><small class="text-muted">{{ atividade.data }} - {{ atividade.professor }}</small></p>
              </div>
        </div>
    </div>

</section>

