/* .navbar-nav{
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-item{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
} */
.navbar{
    padding-top: 0;
}

.container-principal{
    background-color: #096043;
    color: white;
}

.botao-collapso{
    border: none;
    background-color: transparent;
}

.botao-collapso--icone{
    color: white;
}

.navbar-title{
    font-weight: 600;
}

.icon-profile{
    font-size: 1.5em;
}

/* Caixa Modal */

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 80vw;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100vh;
    overflow-y: auto;
}


.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
}

 .modal-body{
    padding-top: 1em;
}
.modal-title{
    font-size: 1em;
    color: white;
}

.nav-link--estilo{
    font-size: .85em;
    font-weight: 700;
}

.nav-bar--icones{
    padding-right: .85em;
    
}

.dropdown-menu {
    border: none;
}

@media screen and (min-width: 1024px) {
    
    .botao-collapso--icone{
        font-size: 1.3rem;
    }

    .modal.left .modal-dialog {
        width: 20vw;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }

}

/* ESTILO E CORES */

.border-style{
    border-top: 1px solid #dee2e6;
}


.modal-title-nome-aluno{
    font-weight: 700;
    margin: 0;
    color: black;
    font-weight: 600;
}
.modal-title-email{
    color: #6d7074;
}

.modal-body-perfil{
    flex: none;
}


.modal-header{
    background-color: #096043;
    color: white;
}

.modal-header-perfil{
    justify-content: center;
    margin-bottom: 0px !important;
    background-color: white !important;
    
}

.modal.right .modal-dialog{
    position: fixed;
    margin: auto;
    margin-top: 35px;
    width: 80vw;
    height: 80%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 50vh;
    overflow-y: auto;
}

.modal.right.fade .modal-dialog{
    right: 0;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.btn{
    width: 100%;
    background-color: #096043;
    border-color: #096043;
}

.modal-body-texto{
    color: rgba(0, 0, 0, 0.55);
    font-size: .85em;
    font-weight: 700;
}