<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid container-principal">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="botao-collapso">
            <a>
                <span>
                    <fa-icon [icon]='faBars' class="botao-collapso--icone"></fa-icon>
                </span>
            </a>
        </button>
        <!-- Modal -->
        <div class="modal left fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hub Irium Educação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a [routerLink]="['/mural']" class="nav-link nav-link--estilo">
                                    <fa-icon [icon]="faListAlt" class="nav-bar--icones"></fa-icon>
                                    Mural
                                </a>
                            </li>

                            <li class="nav-item">
                                <a [routerLink]="['/atividades']"class="nav-link nav-link--estilo">
                                    <fa-icon [icon]="faTasks" class="nav-bar--icones"></fa-icon>
                                    Atividades
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a [routerLink]="['/desempenho']" class="nav-link nav-link--estilo">
                                    <fa-icon [icon]="faChartLine" class="nav-bar--icones"></fa-icon>
                                    Desempenho
                                </a>
                            </li>

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle nav-link--estilo" href="#"
                                    id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <fa-icon [icon]="faBook" class="nav-bar--icones"></fa-icon>
                                    Matérias
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item nav-link--estilo" [routerLink]="['disciplina', disciplina.id]" *ngFor="let disciplina of disciplinas" >{{disciplina.nome}}</a></li>
                                    <!-- <li><a class="dropdown-item nav-link--estilo" [routerLink]="['/disciplina']">Matemática</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Biologia</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Química</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Física</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Lingua Portuguesa e Literatura</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Leitura e Prod.Textual</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Geografia</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">História</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Filosofia</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Sociologia</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Espanhol</a></li>
                                    <li><a class="dropdown-item nav-link--estilo" href="#">Inglês</a></li> -->
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav border-style">
                            <li class="nav-item">
                                <a href="" class="nav-link nav-link--estilo">
                                    <fa-icon [icon]="faHeadset" class="nav-bar--icones"></fa-icon>
                                    Ao vivo
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="" class="nav-link nav-link--estilo">
                                    <fa-icon [icon]="faQuestionCircle" class="nav-bar--icones"></fa-icon>
                                    Ajuda
                                </a>
                            </li>

                        </ul>
                    </div
                    >
                    <!-- <div class="modal-footer"> -->
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <span class="navbar-title">Hub Irium Educação</span>
        <span>
            <a data-bs-toggle="modal" data-bs-target="#modalPerfil"><fa-icon [icon]="faUserCircle" class="icon-profile"></fa-icon></a>
        </span>
    </div>
</nav>

<div class="modal right fade" id="modalPerfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header modal-header-perfil">
                <div class="modal-title" id="exampleModalLabel">
                    <p class="modal-title-nome-aluno">Nome do aluno</p>
                    <p class="modal-title-email">aluno@hub.com.br</p>
                </div>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->

            </div>
            <div class="modal-body modal-body-perfil">
                <p class="modal-body-texto">Escola: <span>Intellectus</span></p>
                <p class="modal-body-texto">Turma: <span>2003</span></p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                <a [routerLink]="['/perfil']" class="btn btn-primary">Configure sua Conta</a>
            </div>
        </div>
    </div>
</div>