.titulo-login{
    font-size: 1.2rem;
    color: #096043;
    font-weight: 700;
}   

.input{
    border-radius: 1rem;
    width: 100%;
    padding-left: .70rem !important;
    padding: .20rem;
    border: .10rem solid #949494 ;
    font-size: .80rem;
    
}

.btn-enviar-email{
    background-color: #096043;
    color: white;
    border-radius: 1rem;
    /* width: 80%; */
}

.div-btn-enviar-email{
    width: 100%;
}

.texto-recupera-senha{
    color: #6d7074;
    font-size: 0.80rem;
}

.box-login{
    box-shadow: 0 2px 4px #00000033;
    height: 30rem;
    margin-top: 20px;
    
}