
.card-header{
    font-weight: 700;
}

.card-conteudo-principal{
    /* style="width: 18rem;" */
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
}

.conteudo-secundario{
    margin-bottom: 2rem;
}

.card-atividades-pendentes{
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.card-atividades-extras{
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
}


.accordion-capitulo-titulo{
    padding: 1rem 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
}

.accordion-item-border{
    border: none;
}

.accordion-button{
    font-weight: 550;
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: #fff;
    border-color: #fff;
  
}

.aula-item-titulo{
    font-size: .90rem;
}
.aula-item-texto{
    font-size: 0.78rem;
    font-weight: 700;  
}

.status-atividades{
    list-style: none;
    /* display: inline; */
    padding-left: 0.30rem;
    
}

.status-atividades-item{
    display: inline;
    padding: 0.30rem;
}

.conteudos-extras-item{
    border: none;
    font-size: 0.78rem;
    font-weight: 700; 
}

.icons-atividades{
    font-size: .40rem;
    padding-right: .85em;
}

@media screen and (min-width: 1024px) {
    .card-conteudo-principal{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .conteudo-secundario{
        display: flex;
        justify-content: space-between;
        
    }

    .card-atividades-pendentes{
        margin-top: 0!important;
        width: 45%;
        margin-left: 0;
        margin-right: 0;    
    }

    .card-atividades-extras{
        width: 45%;
        margin-left: 0;
        margin-right: 0; 
    }
}