<app-proficiencia></app-proficiencia>
<div class="container conteudo-principal mt-4" >
  <div class="card card-conteudo-principal">
    <div class="card-header">
      Conteúdo Principal
    </div>

    <div class="accordion" id="accordionExample" >
      <p class="accordion-capitulo-titulo">Capitulo 1</p>
      <div class="accordion-item accordion-item-border" *ngFor="let disciplina of disciplinas">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button aula-item-titulo" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{disciplina.aula1}}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <span class="aula-item-texto">{{disciplina.conteudoAula1}}</span>-<span class="aula-item-texto">{{disciplina.dataAula1
              }}</span>
            <ul class="status-atividades">
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboardCheck class="atividade-padrao"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboard class="atividade-andamento"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faExclamationTriangle class="atividade-padrao"></fa-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="accordion-item accordion-item-border">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button aula-item-titulo collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Aula 1.2
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <span class="aula-item-texto">Trigonometria</span>-<span class="aula-item-texto">22/06/2021</span>
            <ul class="status-atividades">
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboardCheck class="atividade-padrao"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboard class="atividade-andamento"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faExclamationTriangle class="atividade-padrao"></fa-icon>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item accordion-item-border">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button aula-item-titulo collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Aula 1.3
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <span class="aula-item-texto">Trigonometria</span>-<span class="aula-item-texto">22/06/2021</span>
            <ul class="status-atividades">
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboardCheck class="atividade-padrao"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faClipboard class="atividade-andamento"></fa-icon>
              </li>
              <li class="status-atividades-item">
                <fa-icon [icon]=faExclamationTriangle class="atividade-padrao"></fa-icon>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>



<div class="container conteudo-secundario mt-4">

  <div class="card card-atividades-extras">
    <div class="card-header">
      Conteúdos Extras
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Atividade - Função de 1 grau
      </li>
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Aula - Função de 1 grau
      </li>
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Atividade - Teoria dos Conjuntos
      </li>
    </ul>
  </div>

  <div class="card card-atividades-pendentes mt-4">
    <div class="card-header">
      Atividades Pendentes
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Atividade - Função de 1 grau
      </li>
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Aula - Função de 1 grau
      </li>
      <li class="list-group-item conteudos-extras-item">
        <fa-icon [icon]="faCircle" class="icons-atividades"></fa-icon> Atividade - Teoria dos Conjuntos
      </li>
    </ul>
  </div>

</div>
<router-outlet></router-outlet>